<div class="well col-md-8 col-md-offset-2">
    <h2>Login to your account</h2>
    <form class="form-horizontal" role="form" id="log-form">
        <div class="form-group mt">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-2">
                <label for="inputUsername" class="control-label">Email</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="Email" ><span class="error_form1" id="register_error_message"></span> 
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-2">
                <label for="inputPassword" class="control-label">Password</label>
            </div>
            <div class="col-sm-10">
                <input type="password" class="form-control input-lg required" id="inputPassword"
                       placeholder="Password" ><span class="error_form1" id="password_error_message"></span>
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row col-sm-offset-2 col-sm-10 mt">
                <button type="submit" class="btn btn-danger btn-lg">Login</button>
            </div>
            <div class="row col-sm-offset-2 col-sm-10 mt">
                <button type="submit" id="authGoogle" class="btn btn-success btn-lg">Sign in with Google</button>
            </div>
        </div>
    </form>
</div>
